html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

#map_canvas { 
    width:960px;
    height:500px
}

.sliders {
    text-align: center;
}

#cfs_slider_container, #maf_slider_container, .slider_title {
    float:left;
    width: 450px;
    padding-left: 20px;
    padding-bottom: 3px;
}

.water_min {
    float: left;
}

.water_max {
    float: right;
}

.slider_title {
    font-size: 15px;
    font-weight:bold;
    padding-top: 10px;
}
