html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

#map_canvas { 
    width:795px;
    height:500px;
    float:right;
}

#sliders {
    text-align: center;
    width: 160px;
    float: left;
}

.slider {
    padding-left:60px;
    position: absolute;
}

.slider_title {
    padding-bottom: 3px;
}

#maf_slider, #cfs_slider {
    height:380px;
}

.water_min {
    position:absolute;
    left:80px;
    top:370px;
}

.water_med {
    position:absolute;
    left:80px;
    top:175px;
}

.water_max {
    position:absolute;
    left:80px;
    top:0px;
}

.slider_title {
    font-size: 15px;
    font-weight:bold;
    padding-bottom: 10px;
}

/** Table **/
.infoBoxTable table, th, td {
    border: 1px solid black;
}

.infoBoxTable th, td {
    padding-left: 3px;
    padding-right: 3px;
}
